/*
 * @Author: Alfred Yang
 * @Github: https://github.com/cat-walk
 * @Date: 2019-10-14 18:14:00
 * @LastEditors: Alfred Yang
 * @LastEditTime: 2019-10-14 18:31:41
 * @Description: file content
 */
.account-name-container {
  margin-bottom: 50px;
  margin-left: -100px;
}

.account-name {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #108ee9;
  border-radius: 15px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px 0;
}

.account-balance-container {
  margin-bottom: 200px;
}

.account-balance-value {
  font-size: 25px;
  padding: 5px;
}

.transfer-btn-container {
}
