/*
 * @Author: Alfred Yang
 * @Github: https://github.com/cat-walk
 * @Date: 2019-10-14 18:14:00
 * @LastEditors: Alfred Yang
 * @LastEditTime: 2019-10-14 18:59:29
 * @Description: file content
 */
.title {
  margin-bottom: 50px;
}

.am-list {
  width: 100%;
}

.am-input-label {
  font-size: 12px !important;
}

.reciever-address-tip{
  text-align: right;
  font-size: 10px;
}

.transfer-form {
  margin-bottom: 200px;
}

.

.account-balance-value {
  font-size: 25px;
  padding: 5px;
}

.transfer-btn-container {
}
