/*
 * @Author: Alfred Yang
 * @Github: https://github.com/cat-walk
 * @Date: 2019-10-14 20:02:32
 * @LastEditors: Alfred Yang
 * @LastEditTime: 2019-10-14 20:27:45
 * @Description: file content
 */
.transfer-status {
  font-size: 18px;
}

.transfer-time {
  font-size: 12px;
}

.transfer-amount {
  font-size: 20px;
  color: black;
}

.am-card {
  margin-bottom: 100px;
}
